# Introdução I - Python: Operadores e Loop's

> Site Python.org para baixar Python: https://www.python.org/ <br>
> Site para baixar Visual Studio Code: https://code.visualstudio.com/

In [9]:
variavel = 'teste " " fdf'
print(variavel)

teste " " fdf

## Tipos de Variáveis em Python:

Python é uma linguagem de programação dinamicamente tipada, o que significa que não precisamos declarar o tipo de variável antecipadamente. A linguagem detecta automaticamente o tipo. Aqui estão alguns dos tipos básicos:

> **str** (String): Usado para representar texto. <br>
Exemplo: nome = "Ana"

> **int** (Inteiro): Usado para representar números inteiros. <br>
Exemplo: idade = 25

> **float** (Ponto Flutuante): Usado para representar números reais, ou seja, números com casas decimais. <br>
Exemplo: altura = 1.75

> **list** (Lista): Uma coleção ordenada e mutável que pode conter itens de diferentes tipos. <br>
Exemplo: frutas = ["maçã", "banana", "cereja"]

> **dict** (Dicionário): Uma coleção desordenada de pares chave-valor. Útil para armazenar e recuperar dados de forma eficiente. <br>
Exemplo: pessoa = {"nome": "Ana", "idade": 25}

> **tuple** (Tupla): Semelhante a uma lista, mas imutável. Isso significa que, uma vez definida, os itens não podem ser modificados. <br>
Exemplo: coordenadas = (4, 5)

In [24]:
var1 = "A abelha voa"
var1

'A abelha voa'

In [25]:
type(var1)

str

In [28]:
var1.split(' ')

['A', 'abelha', 'voa']

In [30]:
var2 = var1.split(' ')
var3 = ['A', 'abelha', 'voa']
var2

['A', 'abelha', 'voa']

In [31]:
var3

['A', 'abelha', 'voa']

In [32]:
type(var2)

list

In [35]:
var2[1]

'abelha'

In [34]:
var2[-1]

'voa'

In [42]:
var2[0] == 'A'
var2[0] = 'A'
var2

['A', 'abelha', 'voa']

In [45]:
print('var2[0] = ',var2[0])
var2[0] == 'a'

var2[0] =  A

False

--------------------------

## **Estruturas básicas Python**

### Exemplo de lista: "Lista de Nomes"

In [50]:
# Criando a lista de nomes
nomes = ["João", "Maria", "Carlos", "Ana"]

# Adicionando um novo nome à lista
novo_nome = "Pedro"
nomes.append("Pedro")

nomes

['João', 'Maria', 'Carlos', 'Ana', 'Pedro']

In [51]:

# Acessando elementos da lista
primeiro_nome = nomes[0]
ultimo_nome = nomes[-1]

ultimo_nome

'Pedro'

In [57]:
# Percorrendo a lista com um loop for
print("Nomes na lista:")
for primeiro_nome in nomes:
    print(primeiro_nome)

Nomes na lista:
João
Maria
Carlos
Ana
Pedro

## Exemplo de dicionário: "Dados do Usuário"

In [59]:
# Criando um dicionário com os dados do usuário
usuario = {
    "nome": "João",
    "idade": 30,
    "email": "joao@example.com"
}

usuario

{'nome': 'João', 'idade': 30, 'email': 'joao@example.com'}

In [60]:
usuario.keys()

dict_keys(['nome', 'idade', 'email'])

In [61]:
usuario.values()

dict_values(['João', 30, 'joao@example.com'])

In [62]:
# Acessando valores do dicionário
nome_usuario = usuario["nome"]
idade_usuario = usuario["idade"]

nome_usuario, idade_usuario

('João', 30)

In [63]:
print(usuario)

{'nome': 'João', 'idade': 30, 'email': 'joao@example.com'}

In [64]:
# Modificando um valor no dicionário
usuario["email"] = "novo_email@example.com"

# Adicionando uma nova chave-valor ao dicionário
usuario["cidade"] = "São Paulo"

In [65]:
print(usuario)

{'nome': 'João', 'idade': 30, 'email': 'novo_email@example.com', 'cidade': 'São Paulo'}

In [70]:

# Imprimindo os dados do usuário
print("Dados do usuário:")
for chave, valor in usuario.items():
    print(f"{chave}: {valor}")

Dados do usuário:
nome: João
idade: 30
email: novo_email@example.com
cidade: São Paulo

--------------------------

## **Operadores Básicos**

### Exemplo de Soma, Subtração, Multiplicação e Divisão

In [77]:
a = 10
b = 5

soma = a + b
subtracao = a - b
multiplicacao = a * b
divisao = a / b

print("Soma:", soma)
print("Subtração:", subtracao)
print("Multiplicação:", multiplicacao)
print("Divisão:", divisao)

Soma: 15
Subtração: 5
Multiplicação: 50
Divisão: 2.0

In [79]:
r = 1.001
print('Arredondamento com 2 casas decimais: ',round(r,2))
print('Arredondamento com nenhuma casa decimal: ',round(r))

Arredondamento com 2 casas decimais:  1.0
Arredondamento com nenhuma casa decimal:  1

## Exemplo de Potenciação e Resto da Divisão

In [80]:
# Potenciação
base = 2
expoente = 3
resultado = base ** expoente
print("Potência:", resultado)

# Resto da Divisão
dividendo = 10
divisor = 3
resto = dividendo % divisor
print("Resto da Divisão:", resto)

Potência: 8
Resto da Divisão: 1

----------------------

# Estruturas Condicionais

## Exemplo de Estrutura Condicional (if-else)

In [82]:
idade = 16

if idade >= 18:
    print("Você é maior de idade.")
else:
    print("Você é menor de idade.")

Você é menor de idade.

In [85]:
peso = 5

if peso < 10:
    print('Peso leve')
elif peso >= 10 and peso <= 20:
    print('Peso médio')
else:
    print('Peso maior que 20kg')

Peso leve

## Exemplo de Estrutura Condicional Aninhada (if-elif-else)

In [87]:
# Verifica se um número é positivo, negativo ou zero
numero = float(input("Digite um número: "))

if numero > 0:
    print("O número é positivo.")
elif numero < 0:
    print("O número é negativo.")
else:
    print("O número é zero.")

O número é positivo.

## **Loops**

## Exemplo de Loop For

In [88]:
lista_de_valores = [1,3,6,9,12]

for valor in lista_de_valores:
  print('Valor: ',valor)
  print('O valor multiplicado por 2 é: ', valor * 2,'\n')

Valor:  1
O valor multiplicado por 2 é:  2

Valor:  3
O valor multiplicado por 2 é:  6

Valor:  6
O valor multiplicado por 2 é:  12

Valor:  9
O valor multiplicado por 2 é:  18

Valor:  12
O valor multiplicado por 2 é:  24

In [89]:
# Imprimir os números pares de 0 a 10 usando for
for i in range(0, 11, 2):
    print(i)

0
2
4
6
8
10

## Exemplo de Loop While

In [96]:
# Imprimir os números ímpares de 1 a 9 usando while
i = 1
while i < 10:
    print(i)
    i += 2
print('Loop encerrado')

1
3
5
7
9
Loop encerrado

In [97]:
var = 0

In [118]:
var += 1
print(var)

21

# **Exercícios**

## Exercício 1: Operações Matemáticas

In [ ]:
# Escreva um programa que recebe dois números do usuário e imprime a soma, subtração, multiplicação e divisão.
num1 = float(input("Digite o primeiro número: "))
num2 = float(input("Digite o segundo número: "))

soma = num1 + num2
subtracao = num1 - num2
multiplicacao = num1 * num2
divisao = num1 / num2

print("Soma:", soma)
print("Subtração:", subtracao)
print("Multiplicação:", multiplicacao)
print("Divisão:", divisao)

Digite o primeiro número: 2
Digite o segundo número: 8
Soma: 10.0
Subtração: -6.0
Multiplicação: 16.0
Divisão: 0.25

## Exercício 2: Verificação de Número

In [ ]:
# Escreva um programa que verifica se um número digitado pelo usuário é par ou ímpar.
numero = int(input("Digite um número inteiro: "))

if numero % 2 == 0:
    print("O número é par.")
else:
    print("O número é ímpar.")

Digite um número inteiro: 2
O número é par.

--------------
# Introdução II - Python: Funções

## Exemplo de Função Simples

In [120]:
def saudacao():
    print("Olá! Bem-vindo(a) à nossa função.")

In [121]:
saudacao()

Olá! Bem-vindo(a) à nossa função.

## Exemplo de Função com Parâmetros

In [122]:
def soma(a, b):
    return a + b

In [123]:
soma(10, 5)

15

In [124]:
resultado = soma(5, 3)
print("Resultado da soma:", resultado)

Resultado da soma: 8

## Exemplo de Função com Argumentos Opcionais

In [125]:
def saudacao_personalizada(nome, saudacao="Olá"):
    print(f"{saudacao}, {nome}!")

saudacao_personalizada("Maria")  # Saída: "Olá, Maria!"
saudacao_personalizada("João", "Oi")  # Saída: "Oi, João!"

Olá, Maria!
Oi, João!

## Função com Valor de Retorno Múltiplo

In [134]:
def divisao_e_resto(a, b):
    return a // b, a % b

In [127]:
divisao_e_resto(3,7)

(0, 3)

In [135]:
resultado = divisao_e_resto(10, 3)

In [136]:
resultado_div, resultado_resto = divisao_e_resto(10, 3)
print("Resultado da divisão:", resultado_div)
print("Resto da divisão:", resultado_resto)

Resultado da divisão: 3
Resto da divisão: 1

## Exercício de Função: EXEMPLO

In [137]:
# EXEMPLO de exercíco: Função que recebe uma lista de números e retorna a média aritmética.

def calcular_media(lista):
    return sum(lista) / len(lista)

numeros = [10, 8, 7, 9, 9.5]
media = calcular_media(numeros)
print("A média é:", media)

A média é: 8.7

## Exercício de Função: SOMA

In [138]:
# Agora sua vez! Aqui escreva uma função que recebe a lista "Lista_Valores" e retorna a soma dos valores:
Lista_Valores = [10, 5, 5, 20]

In [18]:
# Resposta
Lista_Valores = [10, 5, 5, 20]

def sua_funcao(lista):
    return sum(lista)

resultado = sua_funcao(Lista_Valores)
print("A soma é de", resultado) # Precisa retornar 40

A soma é de 40

## Exercício de Função: CONTAGEM

In [ ]:
# Agora sua vez! Aqui escreva uma função que recebe a lista "Lista_Valores" e retorna a contagem dos valores
Lista_Valores = [10, 5, 5, 20]

In [37]:
# Resposta
Lista_Valores = [10, 5, 5, 20]

def sua_funcao(lista):
    return len(lista)

resultado = sua_funcao(Lista_Valores)
print("A contagem da lista tem", resultado, 'valores') # Precisa retornar 4

A contagem da lista tem 4 valores

--------------
# Notas:

Para aqueles que nunca tiveram contato com programação, ou não se sintiram a vontade com esses exemplos, existem diversos conteúdos que trazem uma abordagem bem simples para se aprender a programar, eu não tenho nenhum convênio com o site "Curso em Vídeo", mas recomendo por sua didática bem clara, se quiserem verificar eles tem 3 cursos gratúitos introdutórios de Python:

[Python - Modulo 1](https://www.cursoemvideo.com/curso/python-3-mundo-1/)

[Python - Modulo 2](https://www.cursoemvideo.com/curso/python-3-mundo-2/)

[Python - Modulo 3](https://www.cursoemvideo.com/curso/python-3-mundo-3/)