# Notebook - Bibliotecas do Python

> **Consideração:** Antes de iniciar esse caderno, seria ideal ter conhecimento de fundamentos do Python (Variáveis, condições, loop's e funções).

## Instalação de Bibliotecas

Execute a célula abaixo para instalar as bibliotecas necessárias.

```python
!pip install pandas
!pip install selenium
!pip install beautifulsoup4
!pip install openpyxl
!pip install chromedriver_autoinstaller
!pip install pyautogui

**O que são bibliotecas?**

Bibliotecas Python são conjuntos de módulos e funções que permitem aos desenvolvedores executar diversas tarefas sem ter que escrever código do zero. Elas oferecem funcionalidades prontas que podem ser facilmente integradas a projetos, simplificando e acelerando o processo de desenvolvimento. Essas bibliotecas podem abranger desde operações simples, como manipulação de strings, até tarefas complexas, como processamento de imagens ou análise de dados.

## Importação de Bibliotecas

In [61]:
import pandas as pd
import numpy as np
from selenium import webdriver
from bs4 import BeautifulSoup
import chromedriver_autoinstaller
import openpyxl
import datetime
import time
import pyautogui
import sqlite3

## Exemplo Pandas: Carregando e Manipulando Dados

In [69]:
# Carregando um CSV

df = pd.read_csv(r'0020 - Fundamentos CSV.csv', sep=';')
display(df)

  Coluna1 Coluna2
0      c1      a1
1      c2      a2
2      c3      a3
3      c4      a4
4      c5      a5
5      c6      a6
6      c7      a7
7      c8      a8
8      c9      a9
9     c10     a10

In [70]:
# Carregando um EXCEL

df = pd.read_excel(r'0020 - Fundamentos Excel.xlsx')
df

  Coluna1 Coluna2
0      c1      a1
1      c2      a2
2      c3      a3
3      c4      a4
4      c5      a5
5      c6      a6
6      c7      a7
7      c8      a8
8      c9      a9
9     c10     a10

In [72]:
# Criar um DataFrame com Pandas
data = {'Nome': ['João', 'Maria', 'Pedro', 'Ana'],
        'Idade': [25, 30, 22, 28],
        'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Porto Alegre']}

In [73]:
data

{'Nome': ['João', 'Maria', 'Pedro', 'Ana'],
 'Idade': [25, 30, 22, 28],
 'Cidade': ['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Porto Alegre']}

In [74]:
type(data)

dict

In [76]:
df = pd.DataFrame(data)

# Imprimir DataFrame
print(df)

    Nome  Idade          Cidade
0   João     25       São Paulo
1  Maria     30  Rio de Janeiro
2  Pedro     22  Belo Horizonte
3    Ana     28    Porto Alegre

In [77]:
df

    Nome  Idade          Cidade
0   João     25       São Paulo
1  Maria     30  Rio de Janeiro
2  Pedro     22  Belo Horizonte
3    Ana     28    Porto Alegre

In [78]:
display(df)

    Nome  Idade          Cidade
0   João     25       São Paulo
1  Maria     30  Rio de Janeiro
2  Pedro     22  Belo Horizonte
3    Ana     28    Porto Alegre

In [87]:
df_pedro = df[((df['Idade'] > 25) | (df['Idade'] == 22)) & (df['Nome'] == 'Pedro')]
df_pedro

    Nome  Idade          Cidade
2  Pedro     22  Belo Horizonte

In [88]:
# Filtrar por idade
df_filtrado = df[df['Idade'] > 25]
display(df_filtrado)

    Nome  Idade          Cidade
1  Maria     30  Rio de Janeiro
3    Ana     28    Porto Alegre

## Exemplo Selenium: Navegando em uma Página Web

In [89]:
# Configurar o driver do Selenium
chromedriver_autoinstaller.install()
driver = webdriver.Chrome()

In [90]:
# Navegar para o Google
driver.get('https://www.google.com')

In [92]:
# Procurar pelo elemento de busca e fazer uma pesquisa
from selenium.webdriver.common.by import By
search_box = driver.find_element(By.XPATH, '//textarea[@name="q"]')
search_box.click()
time.sleep(0.5)
search_box.send_keys('Python')
time.sleep(0.5)
search_box.submit()

In [93]:
# Esperar 5 segundos para a página carregar
time.sleep(1)

In [94]:
# Fechar o navegador
driver.quit()

## Exemplo BeautifulSoup: Analisando HTML

In [95]:
# Exemplo com HTML simples
html = '<html><body><h1>Título</h1><p>Texto do parágrafo.</p></body></html>'
soup = BeautifulSoup(html, 'html.parser')

# Imprimir o título e o parágrafo
print(soup.h1.text)
print(soup.p.text)

Título
Texto do parágrafo.

## Exemplo OpenPyXL: Trabalhando com Planilhas Excel

In [96]:
# Criar um arquivo Excel // Temos também xlwings como alternativa
wb = openpyxl.Workbook()
sheet = wb.active

# Preencher células
sheet['A1'] = 'Nome'
sheet['B1'] = 'Idade'
sheet['A2'] = 'João'
sheet['B2'] = 25
sheet['A3'] = 'Maria'
sheet['B3'] = 30

# Salvar o arquivo
wb.save('exemplo.xlsx')

## Exemplo PyAutoGui: Automação de Tarefas

In [103]:
import pyautogui
import time

# Abre o Bloco de Notas (assumindo que você está usando Windows)
pyautogui.press('winleft')
pyautogui.press('winleft')
pyautogui.press('winleft')
time.sleep(1)  # Pausa por meio segundo
pyautogui.typewrite('notepad')  # Digita "notepad" no "Executar"
pyautogui.press('enter')  # Pressiona 'Enter' para abrir o Bloco de Notas


time.sleep(1)  # Pausa por um segundo para garantir que o Bloco de Notas esteja aberto

# Digita 'Olá Mundo' no Bloco de Notas
pyautogui.typewrite('Olá Mundo', interval=0.15)

# Pressiona 'Ctrl + S' para abrir a janela de salvar
pyautogui.hotkey('ctrl', 's')
time.sleep(1)  # Pausa para garantir que a janela de salvar apareceu

# Digita o nome do arquivo e salva
pyautogui.typewrite('teste.txt')
time.sleep(3)
pyautogui.press('enter')

# Exercício: Coletar Dados de uma Página Web

In [104]:
# Configurar o driver do Selenium
driver = webdriver.Chrome()
url = 'https://www.ibm.com/docs/pt-br/tap/3.5.2?topic=tables-example-fact-table-associated-dimensions'  # Substitua pela URL da página que você deseja coletar dados

# Navegar para a página
driver.get(url)

# Aguarde o carregamento da página (opcional)
driver.implicitly_wait(3)  # Espera até 3 segundos para carregar a página
# ou: time.sleep(3)

In [105]:
# Coletar o conteúdo da página usando BeautifulSoup
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

# Extrair as informações relevantes do HTML usando as funções do BeautifulSoup
# Exemplo: coletar informações do clima
dados_soup = soup.find('tbody', {'class': 'tbody'}).text

dados_soup

'Mundo1MundoN/AN/AN/AAmérica do Norte2MundoAmérica do NorteN/AN/AEMEA2MundoEMEAN/AN/AAPAC2MundoAPACN/AN/AEstados Unidos3MundoAmérica do NorteEstados UnidosN/ACanadá3MundoAmérica do NorteCanadáN/ANevada4MundoAmérica do NorteEstados UnidosNevadaTexas4MundoAmérica do NorteEstados UnidosTexas'

In [106]:
# Coletar o conteúdo da página usando Selenium
from selenium.webdriver.common.by import By
tabela = driver.find_element(By.XPATH, '//table[@cellpadding="4"]')

In [108]:
tabela.get_attribute('outerHTML')

'<table cellpadding="4" cellspacing="0" summary="Uma tabela de hierarquia simples com base na geografia" class="table bx--data-table" rules="all" frame="border" border="1"><caption class="bx--data-table-header"><span class="tablecap bx--data-table-header__title">Tabela 1. Exemplo de hierarquia simples de geografia</span></caption><thead class="thead" align="left"><tr class="row" valign="bottom"><th class="entry thleft thbot" valign="bottom" id="d18218e53"><div class="bx--table-header-label">SPEC_ID</div></th><th class="entry thleft thbot" valign="bottom" id="d18218e55"><div class="bx--table-header-label">Número do nível</div></th><th class="entry thleft thbot" valign="bottom" id="d18218e57"><div class="bx--table-header-label">SPEC_ID de nível 1</div></th><th class="entry thleft thbot" valign="bottom" id="d18218e59"><div class="bx--table-header-label">SPEC_ID de nível 2</div></th><th class="entry thleft thbot" valign="bottom" id="d18218e61"><div class="bx--table-header-label">SPEC_ID de nível 3</div></th><th class="entry thleft thbot" valign="bottom" id="d18218e63"><div class="bx--table-header-label">SPEC_ID de nível 4</div></th></tr></thead><tbody class="tbody"><tr class="row"><td class="entry" valign="top" headers="d18218e53 ">Mundo</td><td class="entry" valign="top" headers="d18218e55 ">1</td><td class="entry" valign="top" headers="d18218e57 ">Mundo</td><td class="entry" valign="top" headers="d18218e59 ">N/A</td><td class="entry" valign="top" headers="d18218e61 ">N/A</td><td class="entry" valign="top" headers="d18218e63 ">N/A</td></tr><tr class="row"><td class="entry" valign="top" headers="d18218e53 ">América do Norte</td><td class="entry" valign="top" headers="d18218e55 ">2</td><td class="entry" valign="top" headers="d18218e57 ">Mundo</td><td class="entry" valign="top" headers="d18218e59 ">América do Norte</td><td class="entry" valign="top" headers="d18218e61 ">N/A</td><td class="entry" valign="top" headers="d18218e63 ">N/A</td></tr><tr class="row"><td class="entry" valign="top" headers="d18218e53 ">EMEA</td><td class="entry" valign="top" headers="d18218e55 ">2</td><td class="entry" valign="top" headers="d18218e57 ">Mundo</td><td class="entry" valign="top" headers="d18218e59 ">EMEA</td><td class="entry" valign="top" headers="d18218e61 ">N/A</td><td class="entry" valign="top" headers="d18218e63 ">N/A</td></tr><tr class="row"><td class="entry" valign="top" headers="d18218e53 ">APAC</td><td class="entry" valign="top" headers="d18218e55 ">2</td><td class="entry" valign="top" headers="d18218e57 ">Mundo</td><td class="entry" valign="top" headers="d18218e59 ">APAC</td><td class="entry" valign="top" headers="d18218e61 ">N/A</td><td class="entry" valign="top" headers="d18218e63 ">N/A</td></tr><tr class="row"><td class="entry" valign="top" headers="d18218e53 ">Estados Unidos</td><td class="entry" valign="top" headers="d18218e55 ">3</td><td class="entry" valign="top" headers="d18218e57 ">Mundo</td><td class="entry" valign="top" headers="d18218e59 ">América do Norte</td><td class="entry" valign="top" headers="d18218e61 ">Estados Unidos</td><td class="entry" valign="top" headers="d18218e63 ">N/A</td></tr><tr class="row"><td class="entry" valign="top" headers="d18218e53 ">Canadá</td><td class="entry" valign="top" headers="d18218e55 ">3</td><td class="entry" valign="top" headers="d18218e57 ">Mundo</td><td class="entry" valign="top" headers="d18218e59 ">América do Norte</td><td class="entry" valign="top" headers="d18218e61 ">Canadá</td><td class="entry" valign="top" headers="d18218e63 ">N/A</td></tr><tr class="row"><td class="entry" valign="top" headers="d18218e53 ">Nevada</td><td class="entry" valign="top" headers="d18218e55 ">4</td><td class="entry" valign="top" headers="d18218e57 ">Mundo</td><td class="entry" valign="top" headers="d18218e59 ">América do Norte</td><td class="entry" valign="top" headers="d18218e61 ">Estados Unidos</td><td class="entry" valign="top" headers="d18218e63 ">Nevada</td></tr><tr class="row"><td class="entry" valign="top" headers="d18218e53 ">Texas</td><td class="entry" valign="top" headers="d18218e55 ">4</td><td class="entry" valign="top" headers="d18218e57 ">Mundo</td><td class="entry" valign="top" headers="d18218e59 ">América do Norte</td><td class="entry" valign="top" headers="d18218e61 ">Estados Unidos</td><td class="entry" valign="top" headers="d18218e63 ">Texas</td></tr></tbody></table>'

In [109]:
# Pega o HTML externo da tabela
tabela_html = tabela.get_attribute('outerHTML')
tabela_html

'<table cellpadding="4" cellspacing="0" summary="Uma tabela de hierarquia simples com base na geografia" class="table bx--data-table" rules="all" frame="border" border="1"><caption class="bx--data-table-header"><span class="tablecap bx--data-table-header__title">Tabela 1. Exemplo de hierarquia simples de geografia</span></caption><thead class="thead" align="left"><tr class="row" valign="bottom"><th class="entry thleft thbot" valign="bottom" id="d18218e53"><div class="bx--table-header-label">SPEC_ID</div></th><th class="entry thleft thbot" valign="bottom" id="d18218e55"><div class="bx--table-header-label">Número do nível</div></th><th class="entry thleft thbot" valign="bottom" id="d18218e57"><div class="bx--table-header-label">SPEC_ID de nível 1</div></th><th class="entry thleft thbot" valign="bottom" id="d18218e59"><div class="bx--table-header-label">SPEC_ID de nível 2</div></th><th class="entry thleft thbot" valign="bottom" id="d18218e61"><div class="bx--table-header-label">SPEC_ID de nível 3</div></th><th class="entry thleft thbot" valign="bottom" id="d18218e63"><div class="bx--table-header-label">SPEC_ID de nível 4</div></th></tr></thead><tbody class="tbody"><tr class="row"><td class="entry" valign="top" headers="d18218e53 ">Mundo</td><td class="entry" valign="top" headers="d18218e55 ">1</td><td class="entry" valign="top" headers="d18218e57 ">Mundo</td><td class="entry" valign="top" headers="d18218e59 ">N/A</td><td class="entry" valign="top" headers="d18218e61 ">N/A</td><td class="entry" valign="top" headers="d18218e63 ">N/A</td></tr><tr class="row"><td class="entry" valign="top" headers="d18218e53 ">América do Norte</td><td class="entry" valign="top" headers="d18218e55 ">2</td><td class="entry" valign="top" headers="d18218e57 ">Mundo</td><td class="entry" valign="top" headers="d18218e59 ">América do Norte</td><td class="entry" valign="top" headers="d18218e61 ">N/A</td><td class="entry" valign="top" headers="d18218e63 ">N/A</td></tr><tr class="row"><td class="entry" valign="top" headers="d18218e53 ">EMEA</td><td class="entry" valign="top" headers="d18218e55 ">2</td><td class="entry" valign="top" headers="d18218e57 ">Mundo</td><td class="entry" valign="top" headers="d18218e59 ">EMEA</td><td class="entry" valign="top" headers="d18218e61 ">N/A</td><td class="entry" valign="top" headers="d18218e63 ">N/A</td></tr><tr class="row"><td class="entry" valign="top" headers="d18218e53 ">APAC</td><td class="entry" valign="top" headers="d18218e55 ">2</td><td class="entry" valign="top" headers="d18218e57 ">Mundo</td><td class="entry" valign="top" headers="d18218e59 ">APAC</td><td class="entry" valign="top" headers="d18218e61 ">N/A</td><td class="entry" valign="top" headers="d18218e63 ">N/A</td></tr><tr class="row"><td class="entry" valign="top" headers="d18218e53 ">Estados Unidos</td><td class="entry" valign="top" headers="d18218e55 ">3</td><td class="entry" valign="top" headers="d18218e57 ">Mundo</td><td class="entry" valign="top" headers="d18218e59 ">América do Norte</td><td class="entry" valign="top" headers="d18218e61 ">Estados Unidos</td><td class="entry" valign="top" headers="d18218e63 ">N/A</td></tr><tr class="row"><td class="entry" valign="top" headers="d18218e53 ">Canadá</td><td class="entry" valign="top" headers="d18218e55 ">3</td><td class="entry" valign="top" headers="d18218e57 ">Mundo</td><td class="entry" valign="top" headers="d18218e59 ">América do Norte</td><td class="entry" valign="top" headers="d18218e61 ">Canadá</td><td class="entry" valign="top" headers="d18218e63 ">N/A</td></tr><tr class="row"><td class="entry" valign="top" headers="d18218e53 ">Nevada</td><td class="entry" valign="top" headers="d18218e55 ">4</td><td class="entry" valign="top" headers="d18218e57 ">Mundo</td><td class="entry" valign="top" headers="d18218e59 ">América do Norte</td><td class="entry" valign="top" headers="d18218e61 ">Estados Unidos</td><td class="entry" valign="top" headers="d18218e63 ">Nevada</td></tr><tr class="row"><td class="entry" valign="top" headers="d18218e53 ">Texas</td><td class="entry" valign="top" headers="d18218e55 ">4</td><td class="entry" valign="top" headers="d18218e57 ">Mundo</td><td class="entry" valign="top" headers="d18218e59 ">América do Norte</td><td class="entry" valign="top" headers="d18218e61 ">Estados Unidos</td><td class="entry" valign="top" headers="d18218e63 ">Texas</td></tr></tbody></table>'

In [110]:
# Lê o HTML com o pandas e o transforma em um DataFrame
df = pd.read_html(tabela_html)[0]
df

,SPEC_ID,Número do nível,SPEC_ID de nível 1,SPEC_ID de nível 2,SPEC_ID de nível 3,SPEC_ID de nível 4
0,Mundo,1,Mundo,NaN,NaN,NaN
1,América do Norte,2,Mundo,América do Norte,NaN,NaN
2,EMEA,2,Mundo,EMEA,NaN,NaN
3,APAC,2,Mundo,APAC,NaN,NaN
4,Estados Unidos,3,Mundo,América do Norte,Estados Unidos,NaN
5,Canadá,3,Mundo,América do Norte,Canadá,NaN
6,Nevada,4,Mundo,América do Norte,Estados Unidos,Nevada
7,Texas,4,Mundo,América do Norte,Estados Unidos,Texas

In [111]:
# Fechar o navegador
driver.quit()

# Exercício: Manipulação de Dados com Pandas

In [117]:
# Vamos utilizar a tabela obtida anteriormente para seguir com essa automatização
df.tail(2)
df.head(2)

,SPEC_ID,Número do nível,SPEC_ID de nível 1,SPEC_ID de nível 2,SPEC_ID de nível 3,SPEC_ID de nível 4
0,Mundo,1,Mundo,NaN,NaN,NaN
1,América do Norte,2,Mundo,América do Norte,NaN,NaN

In [52]:
# Separar somente primeiras colunas
df.iloc[:,:2]

            SPEC_ID  Número do nível
0             Mundo                1
1  América do Norte                2
2              EMEA                2
3              APAC                2
4    Estados Unidos                3
5            Canadá                3
6            Nevada                4
7             Texas                4

In [119]:
df[['SPEC_ID','Número do nível','SPEC_ID de nível 1']]

            SPEC_ID  Número do nível SPEC_ID de nível 1
0             Mundo                1              Mundo
1  América do Norte                2              Mundo
2              EMEA                2              Mundo
3              APAC                2              Mundo
4    Estados Unidos                3              Mundo
5            Canadá                3              Mundo
6            Nevada                4              Mundo
7             Texas                4              Mundo

In [120]:
# Renomerar colunas
print('Nome colunas ANTES:',','.join(df.columns.values))
df = df.rename(columns={'Número do nível':'Num_Nivel'})
print('Nome colunas DEPOIS:',','.join(df.columns.values))

Nome colunas ANTES: SPEC_ID,Número do nível,SPEC_ID de nível 1,SPEC_ID de nível 2,SPEC_ID de nível 3,SPEC_ID de nível 4
Nome colunas DEPOIS: SPEC_ID,Num_Nivel,SPEC_ID de nível 1,SPEC_ID de nível 2,SPEC_ID de nível 3,SPEC_ID de nível 4

In [121]:
df.head(2)

,SPEC_ID,Num_Nivel,SPEC_ID de nível 1,SPEC_ID de nível 2,SPEC_ID de nível 3,SPEC_ID de nível 4
0,Mundo,1,Mundo,NaN,NaN,NaN
1,América do Norte,2,Mundo,América do Norte,NaN,NaN

In [126]:
df['Num_Nivel']
df.Num_Nivel
df.Num_Nivel / 2

0    0.5
1    1.0
2    1.0
3    1.0
4    1.5
5    1.5
6    2.0
7    2.0
Name: Num_Nivel, dtype: float64

# Exemplo OpenPyXL: Trabalhando com Planilhas Excel

In [ ]:
# Carregar um arquivo Excel existente
wb = openpyxl.load_workbook('exemplo.xlsx')
sheet = wb.active

# Adicionar mais dados à planilha
sheet['A4'] = 'Pedro'
sheet['B4'] = 22

# Salvar as alterações
wb.save('exemplo.xlsx')

# Exemplo OS: Manipulando Arquivos e Diretórios

## Exemplo de Listagem de Arquivos em um Diretório

In [127]:
import os
# Listar todos os arquivos em um diretório
diretorio = '.'
arquivos = os.listdir(diretorio)

print("Arquivos no diretório:")
for arquivo in arquivos:
    print(arquivo)

Arquivos no diretório:
0010 - Fundamentos.ipynb
0020 - Fundamentos CSV.csv
0020 - Fundamentos Excel.xlsx
0020 - Fundamentos.ipynb
exemplo.xlsx
MOD1_Introdução_II_Python.ipynb
MOD1_Introdução_I_Python.ipynb
MOD2_1_Aprendendo_Pandas.ipynb
MOD2_2_Aprendendo_OpenPyXl.ipynb
MOD2_3_Aprendendo_time_e_datetime.ipynb
MOD2_4_Aprendendo_Selenium.ipynb
MOD2_5_Aprendendo_OS.ipynb
MOD2_6_Aprendendo_BS4_URLIB.ipynb
MOD2_7_Projeto_1.ipynb
MOD3_1_Selenium_ExecuteScript.ipynb
MOD3_2_Selenium_ExtracaoHtml.ipynb
MOD3_3_Selenium_ExtracaoArquivos.ipynb
MOD3_4_Selenium_Extracao_Loop.ipynb
MOD3_5_Projeto_2.ipynb
MOD3_6_Projeto_2.ipynb
MOD3_7_Projeto_3.ipynb
MOD3_8_Projeto_4.ipynb
MOD3_9_Projeto_5.ipynb
README.md
V0

## Exemplo de Criação de Diretório

In [132]:
# Criar um novo diretório
novo_diretorio = 'novo_diretorio'

# Verificar se o diretório foi criado
if not os.path.exists(novo_diretorio):
    os.makedirs(novo_diretorio)
    print("Diretório criado com sucesso.")
else:
    print("Diretório já estava criado.")

Diretório criado com sucesso.

## Exemplo Datetime: Manipulando Datas e Horas

In [133]:
from datetime import datetime, timedelta
# Obter a data e hora atual
data_hora_atual = datetime.now()
print("Data e Hora Atuais:", data_hora_atual)

Data e Hora Atuais: 2023-10-03 15:05:43.306628

In [134]:
datetime.now()

datetime.datetime(2023, 10, 3, 15, 5, 48, 262538)

In [135]:
print(datetime.now())

2023-10-03 15:06:04.595485

In [136]:
print(datetime.now().strftime('%d/%m/%Y'))

03/10/2023

In [137]:
# Formatando a data
data_formatada = data_hora_atual.strftime('%d/%m/%Y')
print("Data Formatada:", data_formatada)

Data Formatada: 03/10/2023

In [138]:
os.path.exists(r'0020 - Fundamentos CSV.csv')

True

In [140]:
tempo_arquivo = os.path.getmtime(r'0020 - Fundamentos CSV.csv')

In [141]:
tempo_arquivo

1696351413.0

In [142]:
datetime.fromtimestamp(tempo_arquivo)

datetime.datetime(2023, 10, 3, 13, 43, 33)

# Exemplo PyAutoGui: Automatizando o Mouse e Teclado

## Exemplo de Captura de Tela

In [ ]:
# Capturar a tela inteira e salvar como imagem
imagem = pyautogui.screenshot('screenshot.png')
print("Captura de Tela salva.")

## Exemplo de Movimento do Mouse

In [ ]:
# Mover o mouse para uma posição específica
pyautogui.moveTo(100, 100, duration=1)

## Exemplo de Pressionar Teclas

In [ ]:
# Pressionar teclas
pyautogui.typewrite('Hello, World!', interval=0.25)